@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.listaPokemon{
    background-color: $miBlue;
    color: $miBlack;
    a:link, a:visited, a:active {
        text-decoration:none;
        color: $miBlack;
    }
    a:hover{
        color: $miYellow;
    }
}

.mySwiper{
    margin-top: 20px;
    min-height: 400px;
    padding: 5%;
}

#botonLimpiarLista{
    margin-bottom: 15px;
}

#popup-content-box{
    position:fixed;
    background-color: whitesmoke;
    color: $miBlack;
    border: 10px;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
  }