@import '../utils/variables.scss';
@import '../utils/mixins.scss';

main{
    background-color: $darkBlue;
    color: $white;
    height: 100%;
    button{
        border: none;
        border-radius: 3px;
        padding:10px;
        background-color: $white;
    }
    button:hover{
        background-color: $miRed;
        color: $white;

    }
    
}


