$miRed: #EF476F;
$miYellow: #FFD166;
$miGreen: #06D6A0;
$white: #e5e5e5;
$miBlack:#272727;
$miBlue: #118AB2;
$darkBlue: #073B4C;
$font: url('https://coolors.co/palette/ef476f-ffd166-06d6a0-118ab2-073b4c');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Poppins:wght@200;300;500&family=Work+Sans:wght@400;500;800&display=swap');

:root{
    --font-poppins: "Poppins", sans-serif;
}